
<config>
	<Host>192.168.1.223</Host>
	<UserName>teleprovision</UserName>
	<Password>tp4pw$</Password>
	<DestinationFolder>/home/teleprovision/HarshaVardhan</DestinationFolder>
	<SourceFile>C:\Users\Harshavardhan\Desktop\TeleProvision Team Members Works Status(HarshaVardhan).xls</SourceFile>
</config>
